<%- include("partials/header"); -%>


<div class="content-container">

  <%  posts.forEach(function(post){ %>

  <div class="post">
    <h1><u><%=post.title%></u></h1>
    <p>
      <%=post.content.substring(0, 500) + " ..."%>
      <a href="/posts/<%=post._id%>">Read More</a>
    </p>
  </div>

  <div class="divider"></div>

  <% }) %>
</div>



<%- include("partials/footer"); -%>